# Ignore Python cache
__pycache__/
*.py[cod]
*.ipynb_checkpoints

# Ignore virtual environments
venv/
.env

# Ignore model and data outputs
*.h5
*.npz
*.pkl

# Ignore system files
.DS_Store

# Ignore editor files
.vscode/
.idea/
